#main {
  display: block;
  background-image: url("../images/summer.jpg");
  background-size: cover;
  background-position-y: 100%;
  height: 80vh;
}

#image {
  background-image: url("../images/sunset.jpg");
  background-size: cover;
  background-position-y: 100%;
  height: 75vh;
}

#section {
  display: none;
  height: 80vh;
}

#temp,
#feel,
#desc,
#pressure,
#humidity,
#minTemp,
#maxTemp,
#wind,
#windDir,
#clouds,
#sunrise,
#sunset {
  background-color: rgba(255, 255, 255, 0.1);
}

#home {
  cursor: pointer;
}

/* Main input wrapper */
.algolia-places {}

/* The algolia-places input */
.ap-input, .ap-hint {}

/* The style of the svg icons when the input is on hover */
.ap-input:hover ~ .ap-input-icon svg,
.ap-input:focus ~ .ap-input-icon svg,
.ap-input-icon:hover svg {}

/* The dropdown style */
.ap-dropdown-menu {}

/* The suggestions style */
.ap-suggestion {
  text-align: start;
}

/* The highlighted names style */
.ap-suggestion em {}

/* The addresses style */
.ap-address {}

/* The icons of each suggestions ( can be a building or a pin ) */
.ap-suggestion-icon {}

/* The style of the svg inside the .ap-suggestion-icon */
.ap-suggestion-icon svg {}

/* The icons inside the input ( can be a pin or a cross ) */
.ap-input-icon {right: 235px;}

/* The style of the svg inside the .ap-input-icon */
.ap-input-icon svg {}

/* .a-cursor is the class a suggestion go on hover */
.ap-cursor {}

/* The style of the svg icon, when the .ap-suggestion is on hover */
.ap-cursor .ap-suggestion-icon svg {}

/* The styles of the Algolia Places input footer */
.ap-footer {}

/* The styles of the Algolia Places input footer links */
.ap-footer a {}

/* The styles of the Algolia Places input footer svg icons */
.ap-footer a svg {}

/* The styles of the Algolia Places input footer on hover */
.ap-footer:hover {}
